<%= form_for @typesofexercise do |t| %>
  
  <% if @typesofexercise.errors.any? %>
    <h3><%= pluralize(@typesofexercise.errors.count, "error") %> prohibited this exercise from being saved</h3>

    <ul>
      <% @typesofexercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <p>
    <%= collection_select(:typesofexercise, :bodyarea_id, Bodyarea.all, :id, :name, include_blank: true) %>
  </p>

  <p>
    <%= t.label :name %>
    <%= t.text_field :name %>
  </p>

  <p>
    <%= t.submit %>
  </p>
<% end %>