<div class="col-md-4">
  <%= form_for @typesofexercise, html: { multipart: true } do |t| %>
    
    <% if @typesofexercise.errors.any? %>
      <h3><%= pluralize(@typesofexercise.errors.count, "error") %> prohibited this exercise from being saved</h3>

      <ul>
        <% @typesofexercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    
    <div class="form-group">
      <%= collection_select(:typesofexercise, :bodyarea_id, Bodyarea.all, :id, :name, include_blank: true) %>
    </div>

    <div class="form-group">
      <%= t.label :name %>
      <%= t.text_field :name %>
    </div>

    <div class="form-group">
      <%= t.label :instructions %>
      <%= t.text_area :instructions, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= t.label :photo %>
      <%= t.file_field :photo %>
    </div>

    <div class="form-group">
      <%= t.submit %>
    </div>
  <% end %>
</div>