<h1>Appointments</h1>

<p><%= link_to 'Create a new appointment', new_appointment_path, { class: "btn btn-info", role: "button" } %></p>

<div class="row">
  <div class="col-md-12">

    <%= month_calendar attribute: :app_date, events: @appointments do |date, apps| %>
      <p><%= date %></p>

      <% apps.each do |app| %>
        <%= link_to app.name, appointment_path(app) %>
      <% end %>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <h2>All Appointments</h2>
    <table class="table table-bordered">
     <thead>
        <th>Date</th>
        <th></th>
      </thead>
      <tbody>
        
        <% @appointments.each do |a| %>
          <tr>
            <td><%= link_to a.app_date.to_date, appointment_path(a) %></td>
            <td>  
              <%= link_to 'edit', edit_appointment_path(a) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>