<div class="col-md-4">
  <%= form_for @exercise do |e| %>

    <% if @exercise.errors.any? %>
      <h3><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved</h3>

      <ul>
        <% @exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group">
      <%= collection_select(:exercise, :bodyarea_id, Bodyarea.all, :id, :name, include_blank: true) %>
    </div>

    <div class="form-group">
      <%= collection_select(:exercise, :typesofexercise_id, Typesofexercise.all, :id, :name, include_blank: true) %>
    </div>

    <div class="form-group">
      <%= e.label :sets %>
      <%= e.text_field :n_of_sets, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= e.label :repetitions %>
      <%= e.text_field :n_of_repetitions, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= e.label :duration_of_repetitions %>
      <%= e.text_field :duration_of_repetition, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= e.label :instructions %>
      <%= e.text_area :instructions, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= e.submit %>
    </div>
  <% end %>
</div>