<div class="col-md-6">
  <%= form_for(@exercise, { remote: true }) do |e| %>

    <% if @exercise.errors.any? %>
      <h3><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved</h3>

      <ul>
        <% @exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group">
      <p>Select the body area:</p>
      <%= collection_select(:exercise, :bodyarea_id, Bodyarea.all, :id, :name, { include_blank: true }, {  onchange: "showdivs()", id: "bodyarea_select" }) %>
    </div>

    <div class="form-group exercise_bodyarea" id="exercise_bodyarea_<%= Bodyarea.find_by_name("Back").id %>">
      <%= collection_select(:exercise, :typesofexercise_id, Typesofexercise.back, :id, :name, { include_blank: true }, { id: "exercise_select"}) %>
    </div>

    <div class="form-group exercise_bodyarea" id="exercise_bodyarea_<%= Bodyarea.find_by_name("Knee").id %>">
      <%= collection_select(:exercise, :typesofexercise_id, Typesofexercise.knee, :id, :name, { include_blank: true }, { id: "exercise_select"}) %>
    </div>

    <div class="form-group exercise_bodyarea" id="exercise_bodyarea_<%= Bodyarea.find_by_name("Wrist").id %>">
      <%= collection_select(:exercise, :typesofexercise_id, Typesofexercise.wrist, :id, :name, { include_blank: true }, { id: "exercise_select"}) %>
    </div>

    <div class="form-group exercise_bodyarea" id="exercise_bodyarea_<%= Bodyarea.find_by_name("Neck").id %>">
      <%= collection_select(:exercise, :typesofexercise_id, Typesofexercise.neck, :id, :name, { include_blank: true }, { id: "exercise_select"}) %>
    </div>

    <div class="form-group">
      <%= e.label :sets %>
      <%= e.text_field :n_of_sets, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= e.label :repetitions %>
      <%= e.text_field :n_of_repetitions, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= e.label :duration_of_repetitions %>
      <%= e.text_field :duration_of_repetition, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= e.submit class: 'submit_button' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  // function showdivs() {  

  //   selection = $('#bodyarea_select option:selected').first().attr('value');

  //   $('#exercise_bodyarea_' + selection).show();
  // }


  // $(".submit_button").on('click', function(){
  //   $('#exercise_bodyarea_' + selection).remove();
  // }); 
</script>