<p><%= link_to 'Create new Exercise', new_exercise_path %></p>

<h1>Appointment - Exercises</h1>

<table>
  <thead>
    <th>Name</th>
    <th># Sets</th>
    <th># Repetitions</th>
    <th></th>
  </thead>
  <tbody>
    <% @exercises.each do |e| %>
      <tr>
        <td><%= link_to Typesofexercise.find_by_id(e.typesofexercise_id).name, exercise_path(e) %></td>
        <td><%= e.n_of_sets %> </td>
        <td><%= e.n_of_repetitions %></td>
        <td>
          <%= link_to 'edit', edit_exercise_path(e) %>
          <%= link_to 'delete', exercise_path(e), method: :delete, data: {confirm: "Are you sure you want to delete this exercise?"} %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>