<p><%= link_to 'Back to Exercises list', exercises_path %></p>

<h1><%= @exercise.typesofexercise.name %></h1>

<%= image_tag Typesofexercise.find_by_id(@exercise.typesofexercise_id).photo.url(:medium) %>

<h5>Sets:</h5>
<p><%= @exercise.n_of_sets %></p>  

<h5>Repetitions:</h5>
<p><%= @exercise.n_of_repetitions %></p>  

<h5>Duration of repetitions:</h5>
<p><%= @exercise.duration_of_repetition %></p>

<h5>Instructions:</h5>
<p><%= Typesofexercise.find_by_id(@exercise.typesofexercise_id).instructions %></p>


