<p><%= link_to 'Back to Exercises list', exercises_path %></p>

<h1><%= @exercise.typesofexercise.name %></h1>

<%= image_tag Typesofexercise.find_by_id(@exercise.typesofexercise_id).photo.url(:medium) %>

<p>
  Sets: <br>
  <%= @exercise.n_of_sets %>  
</p>

<p>
  Repetitions: <br>
  <%= @exercise.n_of_repetitions %>  
</p>

<p>
  Duration of repetitions:
  <%= @exercise.duration_of_repetition %>
</p>

<p>
  Instructions:
  <%= @exercise.instructions %>
</p>

