<nav class="navbar navbar-style">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><span style="color: white; font-weight: bold">ManagePT</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user %>
        <ul class="nav navbar-nav nav-link-style">
          <li><a href="<%= root_path %>">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="<%= appointments_path %>">Calendar</a></li>
          <% if current_user && (!current_user.patient || current_user.admin) %> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= appointments_path %>">Appointments</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="<%= bodyareas_path %>">Body Areas</a></li>
                <li><a href="<%= exercises_path %>">Sets of Exercises</a></li>
                <li><a href="<%= typesofexercises_path %>">Exercises Types</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right nav-link-style">
        <% if current_user %>
          <li><a href="<%= edit_user_registration_path %>"><%= current_user.email %></a></li>
        
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path  %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>